<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean name="engine1" class="com.seed.model.Engine"  >
		<property name="type" value="Four stroke 1200 CC" />
		<property name="fuelType" value="Petrol" />
	</bean>
	
	<bean name="engine" class="com.seed.model.Engine" >
		<property name="type" value="Four stroke 1400 CC" />
		<property name="fuelType" value="EV" />
	</bean>
	
	<bean name="car" class="com.seed.model.Car"  autowire="constructor" >
	</bean>

</beans>